.boid {
  position: absolute;
  border-style: solid;
  border-width: thick;
  text-align: center;
}
canvas{
  position: absolute;
}
.row {
  border-style: double;
  border-width: 5px;
  width: 362px;
  position: relative;
  margin-top: -15px;
  margin-left: -15px;
  padding: 5px;
} row:hover {
  cursor: grab;
}
#dragme{
  left: 35%;
  top: 78%;
  background-color: gray;
  border-radius: 15px;
  border-style: solid;
  padding: 15px;
  width: fit-content;
  position: absolute;
  z-index: 1;
  color: lightgray;
}
#play {
  border-style: inset;
  width: 35px;
}
#play:active {
  border-style: outset;
}
#container{
  color: lightgray;
  background-color: lightgray;
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
}
input, select{
  /*float: right;*/
  width: auto;
} input, label {
  padding: 5px;
} label {
  /*float: left;*/
}
